/*  your css code here. If applicable */
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
.center{
	text-align:center
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
.table{
	border:1px solid black;
	width:100%
}